/* src/styles/_global.scss */
body {
  font-family: $font-family;
  background-color: $page-bg;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}   
html, body {
  height: 100%;
  overflow-y: auto; // ✅ ensures full scroll
}
