<h2 mat-dialog-title>📄 Submission Details</h2>

<mat-dialog-content class="dialog-content">
  <div *ngIf="submission">
    <p><strong>Assignment:</strong> {{ submission.assignmentTitle }}</p>
    <p><strong>Batch:</strong> {{ submission.batchName }}</p>
    <p><strong>Submitted At:</strong> {{ submission.submittedAt | date:'medium' }}</p>
    <p><strong>Status:</strong> {{ submission.status }}</p>

    <div *ngIf="submission.textAnswer">
      <h6>📝 Answer</h6>
      <p>{{ submission.textAnswer }}</p>
    </div>

    <!-- Student Attachments -->
    <div *ngIf="submission.attachments?.length" class="attachments-section">
      
      <h6><mat-icon>attach_file</mat-icon> Attachments</h6>
      <div class="attachment-grid">
        <div *ngFor="let att of submission.attachments" class="attachment-item">
          <a [href]="att.fileUrl" target="_blank">
            <mat-chip color="primary" selected>
              <mat-icon>attach_file</mat-icon>
              {{ att.fileName }}
            </mat-chip>
          </a>
        </div>
      </div>
    </div>

    <!-- Teacher Corrected Files -->
    <div *ngIf="submission.teacherAttachments?.length" class="attachments-section">
      <h6>✅ Corrected Files</h6>
      <div class="attachment-grid">
        <div *ngFor="let att of submission.teacherAttachments" class="attachment-item">
          <a [href]="att.fileUrl" target="_blank">
            <!-- <mat-chip color="accent" selected> -->
              <mat-icon>attach_file</mat-icon>{{ att.fileName }}
              
              <span matBadge="Reviewed" matBadgePosition="after" matBadgeColor="warn" class="badge"></span>
            <!-- </mat-chip> -->
          </a>
        </div>
      </div>
    </div>

    <div *ngIf="submission.teacherRemarks">
      <h6>🧑‍🏫 Teacher Remarks</h6>
      <p>{{ submission.teacherRemarks }}</p>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close color="primary">Close</button>
</mat-dialog-actions>
