<footer class="footer mat-elevation-z2">
  <div class="footer-content">
    <!-- Left: Logo + Info -->
    <div class="footer-left">
      <img src="mbc-icon.ico" alt="Madurai Bible College Logo" class="logo" />
      <div class="footer-info">
        <i class="fa-solid fa-graduation-cap fa-bounce fa-2xl" style="color: #74C0FC;"></i>        <h3>Madurai Bible College</h3>
        <p class="motto">Be a disciple of God and make disciples.</p>
        <p>
          <i class="fa-solid fa-envelope fa-fade" style="color: #74C0FC;"></i> <a href="mailto:mbsmdu@gmail.com"> mbsmdu&#64;gmail.com</a><br />
          <i class="fa-solid fa-mobile fa-fade" style="color: #74C0FC;"></i> <a href="tel:+919585533981">+91 95855 33981</a>
        </p>
      </div>
    </div>

    <!-- Right: Social Links -->
    <div class="footer-right">
      <a href="https://www.youtube.com/@MaduraiBibleCollege" target="_blank" aria-label="YouTube">
        <i class="fa-brands fa-youtube " style="color: #ff0505;"></i>
      </a>
      <a href="https://www.facebook.com/maduraibiblecollege/" target="_blank" aria-label="Facebook">
        <i class="fa-brands fa-facebook " style="color: #3da5f5;"></i>
      </a>
      <a href="https://www.instagram.com/maduraibiblecollege/" target="_blank" aria-label="Instagram">
        <i class="fa-brands fa-instagram " style="color: #405de6;"></i>
      </a>
    </div>
  </div>

  <!-- Bottom Row -->
  <div class="footer-bottom">
    <p>© {{ currentYear }} Madurai Bible College | All Rights Reserved.</p>
    <button mat-fab color="primary" class="back-to-top" (click)="scrollToTop()">
      <mat-icon>arrow_upward</mat-icon>
    </button>
  </div>
</footer>